<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
               packages="org.apache.log4j.test">
    <Appenders>
        <Console name="consoleAppender">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %highlight{%-5level} %c{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="tracker.log" level="TRACE" additivity="false">
            <AppenderRef ref="consoleAppender"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="consoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
